# Exploración de conjuntos de datos con Pandas

Pandas es una potente biblioteca de Python, imprescindible para cualquier científico de datos o analista, que permite la manipulación y análisis de datos de manera eficiente y fácil. Con Pandas, se pueden realizar tareas como la manipulación de datos, la limpieza de datos, el análisis exploratorio de datos y mucho más. En este artículo, exploraremos con mayor detalle cómo podemos explorar nuestros conjuntos de datos utilizando Pandas, explicando con profundidad y ejemplos prácticos sus funciones y características.

## Cómo instalar Pandas

Para poder usar Pandas, primero es necesario instalarlo. La instalación es un proceso sencillo que se puede hacer utilizando pip, el administrador de paquetes de Python. Aquí está el comando que se debe ejecutar en la terminal:

```python
pip install pandas
```

In [4]:
# pip install pandas

Requirement already satisfied: pandas in c:\users\julih\anaconda3\lib\site-packages (1.4.4)
Requirement already satisfied: pytz>=2020.1 in c:\users\julih\anaconda3\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\julih\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\julih\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in c:\users\julih\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.


Este comando solicita a pip que descargue e instale el paquete pandas desde el repositorio de paquetes de Python, PyPI.

## Cómo importar Pandas

Una vez que Pandas esté instalado, es necesario importarlo en tu script de Python para poder usarlo. Por convención, Pandas se importa con el alias `pd`, que permite un acceso más rápido a sus funciones y métodos.

```python
import pandas as pd
```

In [5]:
import pandas as pd


## Creación de un DataFrame

Pandas puede trabajar con datos de diversas fuentes y formatos como CSV, Excel, SQL, entre otros. Pero para simplificar, en este ejemplo crearemos un DataFrame, que es una estructura de datos bidimensional de Pandas similar a una hoja de cálculo, a partir de un diccionario de Python.

```python
data = {
    'frutas': ['manzanas', 'naranjas', 'plátanos', 'kiwis'],
    'cantidad': [10, 6, 3, 8]
}
df = pd.DataFrame(data)
```

In [6]:
data = {
    'frutas': ['manzanas', 'naranjas', 'plátanos', 'kiwis'],
    'cantidad': [10, 6, 3, 8]
}
df = pd.DataFrame(data)

df

     frutas  cantidad
0  manzanas        10
1  naranjas         6
2  plátanos         3
3     kiwis         8


Aquí, `data` es un diccionario que contiene dos listas, 'frutas' y 'cantidad', que actúan como columnas en nuestro DataFrame. El DataFrame resultante `df` tendrá estas columnas y filas que corresponden a los elementos de las listas.

## Exploración y visualización de los datos

Pandas ofrece múltiples formas de inspeccionar y entender nuestros datos. Veamos algunas de las más comunes.

### head()

El método `head()` nos permite obtener un vistazo rápido a los datos mostrando las primeras N filas de nuestro DataFrame. Por defecto, N es 5, pero puedes pasar un número entero para especificar la cantidad de filas que deseas ver.

```python
df.head()
```

In [7]:
df.head()

     frutas  cantidad
0  manzanas        10
1  naranjas         6
2  plátanos         3
3     kiwis         8

### tail()

De forma similar, el método `tail()` nos muestra las últimas N filas de nuestro DataFrame. Por defecto, N es 5, pero también se puede especificar una cantidad diferente.

```python
df.tail()
```

In [8]:
df.tail()

     frutas  cantidad
0  manzanas        10
1  naranjas         6
2  plátanos         3
3     kiwis         8


### shape

La propiedad `shape` es muy útil para obtener una idea rápida del tamaño de nuestros datos. Nos devuelve una tupla con la cantidad de filas y columnas de nuestro DataFrame.

```python
df.shape
```

In [9]:
df.shape

(4, 2)


### columns

La propiedad `columns` nos devuelve un objeto Index que contiene los nombres de las columnas del DataFrame.

```python
df.columns
```

In [10]:
df.columns

Index(['frutas', 'cantidad'], dtype='object')


### dtypes

El método `dtypes` es esencial para entender el tipo de datos que tenemos en cada columna, nos devuelve una serie con el

 tipo de datos de cada columna.

```python
df.dtypes
```

In [11]:
df.dtypes

frutas      object
cantidad     int64
dtype: object


## Selección de datos

Pandas nos ofrece una gran flexibilidad a la hora de seleccionar ciertos datos para nuestro análisis.

### Selección de Columnas

Podemos seleccionar una columna específica de un DataFrame utilizando su nombre. Por ejemplo, si queremos seleccionar solo la columna 'frutas', usaríamos el siguiente código:

```python
df['frutas']
```

In [12]:
df['frutas']

0    manzanas
1    naranjas
2    plátanos
3       kiwis
Name: frutas, dtype: object


### Selección de Filas

Pandas también nos permite seleccionar filas específicas. Podemos hacerlo por índice o utilizando una condición.

Seleccionar filas por índice:

```python
df[1:3]
```

In [13]:
df[1:3]

     frutas  cantidad
1  naranjas         6
2  plátanos         3


Seleccionar filas que cumplan con cierta condición:

```python
df[df['cantidad'] > 5]
```

In [14]:
df[df['cantidad'] > 5]

     frutas  cantidad
0  manzanas        10
1  naranjas         6
3     kiwis         8


## Resumen de los Datos

Pandas tiene métodos incorporados que nos ayudan a obtener una comprensión general y estadísticas resumidas de nuestros datos.

### describe()

El método `describe()` proporciona un resumen estadístico de todas las columnas numéricas en el DataFrame. Incluye estadísticas como la media, el mínimo, el máximo, la desviación estándar y los percentiles.

```python
df.describe()
```

In [15]:
df.describe()

        cantidad
count   4.000000
mean    6.750000
std     2.986079
min     3.000000
25%     5.250000
50%     7.000000
75%     8.500000
max    10.000000


### value_counts()

El método `value_counts()` es útil para contar la frecuencia de los valores únicos en una columna. Esto es especialmente útil cuando se trabaja con datos categóricos.

```python
df['frutas'].value_counts()
```

In [16]:
df['frutas'].value_counts()

manzanas    1
naranjas    1
plátanos    1
kiwis       1
Name: frutas, dtype: int64

## Manejo de Datos Faltantes

En el mundo real, los conjuntos de datos suelen tener datos faltantes. Afortunadamente, Pandas ofrece una serie de potentes herramientas para tratar con estos casos.

### isnull()

El método `isnull()` retorna una DataFrame del mismo tamaño que el original pero donde los valores son True si el valor original es nulo y False si no lo es.

```python
df.isnull()
```

In [17]:
df.isnull()

   frutas  cantidad
0   False     False
1   False     False
2   False     False
3   False     False


### dropna()

El método `dropna()` elimina las filas o columnas con valores nulos de un DataFrame.

```python
df.dropna()
```

In [18]:
df.dropna()

     frutas  cantidad
0  manzanas        10
1  naranjas         6
2  plátanos         3
3     kiwis         8


### fillna()

El método `fillna()` nos permite reemplazar los valores nulos con un valor especificado. Esto puede ser útil en muchos escenarios, por ejemplo, podría ser útil reemplazar los valores nulos con la media de la columna o con un valor constante.

```python
df.fillna(value)
```

In [20]:
value = 0
df.fillna(value)

     frutas  cantidad
0  manzanas        10
1  naranjas         6
2  plátanos         3
3     kiwis         8

En resumen, esta es una introducción detallada pero no exhaustiva a la exploración de conjuntos de datos utilizando la biblioteca pandas de Python. Pandas es una herramienta poderosa con muchas más funciones y capacidades. Te animo a seguir explorando y aprendiendo más sobre esta excelente biblioteca.